// Defining the variables for reuse

// colors
$main-bg-color: #f7f8fc;
$sidebar-bg-color: #363740;
$superlight-gray: #9fa2b4;
$light-gray: #A4A6B3;
$blue-color: #3751FF;
$light-blue: #dfe0eb27;
$superdark-blue: #252733;
$sidebar-item-color: #DDE2FF;

// fonts
$font-family: "muli", sans-serif;
$font-h1: 24px;
$font-h2: 19px;
$font-h3: 16px;
$font-h4: 14px;
$font-h5: 12px;
$font-weight-bold: 700;

// padding & gap
$padding-header: 35px;
$gap-icons: 20px;
$border-radius: 8px;



// Main body
main {
  width: 100vw;
  height: auto;
  font-family: $font-family;
  display: flex;
  background-color: $main-bg-color;
}

// Sidebar
.sidebar-desktop {
  width: 255px;
  height: 100vh;
  position: fixed;
  background-color: $sidebar-bg-color;
}

// Title
.title_D {
  font-weight: 700;
  font-style: bold;
  font-size: $font-h2;
  color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $padding-header 0 calc($padding-header * 1.5) 0;
  gap: 10px;
}

// Sidebar list
.sidebar-list {
  font-weight: 400;
  font-style: normal;
  font-size: $font-h3;
  width: 100%;
  list-style-type: none;
  padding: 0;

  // list sidebar
  li {
    display: flex;
    align-items: center;
    padding: calc($padding-header / 2);
    box-sizing: border-box;
    border-left: 3px solid transparent;

    .li_img {
      width: 16px;
      margin-left: 32px;
      margin-right: 20px;
    }

    // Highlighted item sidebar
    &:hover {
      // 8% opacity
      background-color: rgba($superlight-gray, 0.08);
      border-left: 3px solid $sidebar-item-color;
      color: $sidebar-item-color !important;
    }

    &:hover .li_img {
      color: $sidebar-item-color;
    }

    // hover on icon
    svg {
      transition: fill 0.1s ease;
    }

    &:hover path {
      // I changed svg hover color but its not the same as the text, why (?)
      fill: rgba($sidebar-item-color, 1) !important;
    }
  }

}



// main page excluding sidebar
.main-page {
  // calc page without the sidebar size
  width: 100%;
  height: auto;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;
  gap: calc($gap-icons * 2);
  padding: 0 $padding-header (
    $padding-header * 4) $padding-header;
  padding-left: calc(255px + $padding-header
  );


// Sub Header main page
.header-default {
  // header - sidebar size
  width: calc(100% - 255px - $padding-header);
  position: fixed;
  z-index: 999;
  padding: $padding-header $padding-header $padding-header 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

// overview title
.title_1 {
  font-weight: 700;
  font-size: $font-h1;
  color: $superdark-blue;
}

// second part of subheaer, icons and profile
.subheader-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap-icons;

  // profile part
  .photo {
    width: 40px;
    height: 40px;
  }

  .name {
    font-size: $font-h4;
  }
}

// Section cards
.row {
  display: flex;
  padding: 120px 0 0 0;
  width: 100%;
  margin: 0;
  gap: 25px;

  // Each card
  .col-3 {
    flex: 1 1 calc(25% - 20px); // Adjust width dynamically
    max-width: calc(25% - 20px); // Keeps them inside the row

    // Each card subclass
    .card {
      transition: all 0.2s ease; // Smooth transition for hover effect
      border-radius: $border-radius; // Optional: Add border radius if needed

      &:hover {
        border: 2px solid $blue-color; // Change border color on hover
      }

      .card-body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: color 0.3s ease; // Smooth text color transition for the card body

        .card-title {
          font-size: $font-h2;
          color: $superlight-gray;
          font-weight: $font-weight-bold;
        }

        .card-text {
          font-size: 40px;
          color: $superdark-blue;
          font-weight: $font-weight-bold;
        }

        // Hover effect for text color inside the card body
        &:hover .card-title,
        &:hover .card-text {
          color: $blue-color; // Change the text color when the card is hovered
        }
      }
    }
  }
}


// Section Today's trend graphic
.graphic-container {

  // intire card row
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding: $padding-header;
    padding-right: 0;
    margin: 0;


    // left column: chart
    .graphic-content {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-bottom: $padding-header;

      // title & subtitle graphic
      .title-graphic {
        display: flex;
        flex-direction: column;
        gap: calc($gap-icons / 2);

        h5 {
          font-size: $font-h2;
          font-weight: $font-weight-bold;
          color: $superdark-blue;
          margin: 0;

          // Hover effect for text color
          &:hover {
            color: $blue-color !important;
          }
        }

        .text-muted {
          font-size: $font-h5;
          color: $superlight-gray;
          margin: 0;
        }
      }

      // today & yesterday legend graphic
      .legend-graphic {
        display: flex;
        align-items: center;
        gap: calc($gap-icons * 2);

        .legend-graphic-sub {
          display: flex;
          gap: $gap-icons;
          align-items: center;

          p {
            display: flex;
            font-size: $font-h5;
            color: $superlight-gray;
            letter-spacing: 0.1px;
            margin: 0;

            // Hover effect for text color
            &:hover {
              color: $blue-color !important;
            }
          }
        }
      }
    }

    // right column: stats
    .graphic-data {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: calc($padding-header / 2) 0;

        .text-muted {
          font-size: $font-h3;
          color: $superlight-gray !important;
          letter-spacing: 0.3px;
          // to force centralize
          display: flex;
          justify-content: center !important;
        }

        .text-end {
          font-size: $font-h1;
          font-weight: $font-weight-bold;
          color: $superdark-blue;
          // to force centralize
          display: flex;
          justify-content: center !important;
        }

        // Hover effect for text color
        &:hover .text-muted,
        &:hover .text-end {
          color: $blue-color !important;
        }
      }

      // row padding borders zero
      .padding-zero-top {
        padding-top: 0 !important;
      }

      .padding-zero-bottom {
        padding-bottom: 0 !important;
      }
    }
  }
}







// Section Tickets & Tasks
.tickets-tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: calc($gap-icons * 2);


  // Section Unresolved Tickets
  .card-ticket {
    padding: $padding-header;
    border-radius: $border-radius;

    .list-group {
      border: none;
    }

    .list-group-item {
      border-top: none;
      border-left: none;
      border-right: none;
      padding: calc($padding-header / 2);


      // Hover effect on the create new task list item
      // &:hover {
      //   span {
      //     // color: $blue-color !important;
      //   }
      // }

      // hover on svg
      &:hover {
        svg rect {
          fill: $blue-color !important;
        }
        svg path {
          stroke: white;
        }
      }
    }

    .card-body-title {
      padding: ($padding-header / 2) ($padding-header / 2) $padding-header (
        $padding-header / 2
      );

    h5 {
      font-size: $font-h5;
      color: $superlight-gray;
      font-weight: 500;

      // Hover effect for text color
      &:hover {
        color: $blue-color !important;
      }

      span {
        color: rgba($superdark-blue, 0.8);
        font-weight: 600;
      }
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      h5 {
        font-size: $font-h2;
        color: $superdark-blue;
        font-weight: $font-weight-bold;
      }

      p {
        font-size: $font-h4;
        color: $blue-color;
        padding: 7px 12px;
        border-radius: 50px;

        &:hover {
          color: white;
          background-color: $blue-color;
        }
      }
    }
  }

  // List unresolved tickets
  ul {
    li {
      font-size: $font-h4;
    }

    // left side numbers defining pattern
    span {
      font-size: $font-h4;
      color: $superlight-gray;
      background-color: transparent !important;
      font-weight: unset;
    }

    // when hovering text list
    li:hover {
      color: $main-bg-color;
      background-color: $blue-color !important;
      font-weight: 700;
      border-radius: 20px;
      border: none;

      span {
        color: $main-bg-color;
        background-color: $blue-color !important;
        font-weight: 700;
      }
    }
  }
}

// Section Tasks
.card-task {
  ul {
    li {



      .task-input {
        display: flex;
        gap: $gap-icons;
        align-items: center;

        // rounded input selection
        .form-check-input {
          width: 20px;
          height: 20px;
          border-radius: 50px;
        }
      }

      .rounded-pill {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        color: $main-bg-color;
        font-size: 11px;
        letter-spacing: 0.5px;
        border-radius: $border-radius;
        border: none;
        padding: 5px 20px;
      }

      // Remove hover effect for list items inside card-task
      // why border is still hovering (?)
      &:hover {
        color: initial;
        background-color: transparent !important;
        font-weight: initial;
        border-radius: initial;
        border-bottom: 1px solid #dfe0eb;

        span {
          color: initial;
          background-color: transparent !important;
          font-weight: initial;
        }
      }

      // hovering buttons
      // Mixin for hover button effect
      @mixin hover-effect($bg-color, $color) {
        transition: background-color 0.3s ease;

        &:hover {
          background-color: lighten($bg-color, 15%) !important;
          color: $color !important;
        }
      }

      #hover-roundedbutton-1 {
        @include hover-effect(#fec400, $superdark-blue);
      }

      #hover-roundedbutton-2 {
        @include hover-effect(#29cc97, $superdark-blue);
      }

      #hover-roundedbutton-3 {
        @include hover-effect(#c2c2c2, $superdark-blue);
      }
    }
  }
}
}
}



// MEDIA SCREEN
// change graphic size on smaller screens
@media (max-width: 1450px) {
  .graphic-image {
    width: 600px;
    height: auto;
  }
}

@media (max-width: 1300px) {
  .graphic-image {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 1150px) {
  .graphic-image {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .graphic-image {
    width: 300px;
    height: auto;
  }
}


// Responsive Styles
@media (max-width: 600px) {

  .sidebar-desktop {
    display: none;
  }
  .title_1 {
    font-size: 20px !important;
  }
  .title_D {
    font-size: 18px !important;
  }
  .main-page .row .col-3 .card .card-body .card-title {
    font-size: 8px !important;
  }
  .text-muted {
    font-size: 10px !important;
  }
  .main-page .row .col-3 .card .card-body .card-text{
    font-size: 30px !important;
  }
  .text-end{
    font-size: 20px !important;
  }
  .main-page {
    width: 100%;
    height: 100%;
    padding-left: $padding-header;
    padding-right: $padding-header;
  }
  .row{
    width: auto;
  }
  .header-default {
    width: 95% !important;
  }  
  .subheader-icons{
    gap: 10px !important;
  }
  .name {
    font-size: 10px !important;
  }
  .main-page .graphic-container .row{
    padding: 25px;
  }

  p{
    font-size: 10px !important;
  }
  .graphic-container .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

  .col-md-4 {
   width: 100%;
  }
  .col-md-8{
    border: none !important	;
    padding: 0 !important;
  }
  .card-body{
    padding: 7px 5px  0 !important;
  }
  .graphic-image {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .legend-graphic {
    flex-direction: column;
    margin-left: 20px;
  }
  .main-page .tickets-tasks {
    flex-direction: column;
  }
  //overwrites HTML
  .card {
    &.card-ticket {
      width: 100% !important; // Force full width, overwrites HTML
      max-width: 100% !important; // Ensures it takes the full width
    }
  }
}



